<div [style.background-color]="AppColors.darkGrayColor" class="p-0 m-0">
  <h1 mat-dialog-title>{{ title }}</h1>
  <div mat-dialog-content>
    <p>Rating: {{ rating.rating }}</p>
    <p>Comment: {{ rating.comment }}</p>
    <p>Time of Booking: {{ rating.timeStamp | date : 'dd.MM.yyyy' }}</p>
    <span *ngFor="let index of [].constructor(rating.rating)">
    <mat-icon [color]="rating.rating > index ? 'primary' : 'accent'">star</mat-icon>
  </span>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="close()">Close</button>
  </div>
</div>
