<cdk-accordion-item
  #accordionItem="cdkAccordionItem"
  role="button"
  class="m-2"
  [attr.id]="'accordion-header-' + index"
  [attr.aria-expanded]="accordionItem.expanded"
  [attr.aria-controls]="'accordion-body-' + index">
  <div class="col-3" (click)="accordionItem.toggle()">
    {{ booking.car.brand || '' + ' ' + booking.car.model }}
    <span style="flex: 1 1 auto;"></span>
    <button mat-raised-button color="accent">
      <mat-icon>{{ accordionItem.expanded ? 'expand_less' : 'expand_more' }}</mat-icon>
      {{ accordionItem.expanded ? 'Close' : 'Details' }}
    </button>
  </div>
  <div
    role="region"
    [style.display]="accordionItem.expanded ? '' : 'none'"
    [attr.id]="'accordion-body-' + index"
    [attr.aria-labelledby]="'accordion-header-' + index">
    {{ booking.car.brand || '' + ' ' + booking.car.model }} was rented from {{ booking.startDate }}
    to {{ booking.endDate }}
    <span *ngIf="booking.rating">
      You left a rating of {{ booking.rating.rating }} stars and commented {{ booking.rating.comment }}
    </span>
  </div>
</cdk-accordion-item>
