<div class="container-fluid bg-secondary">
  <div class="p-2">
    <h2 class="col screen-header">Cars Overview</h2>
    <div class="col">
      <mat-form-field style="width:250px">
        <input matInput placeholder="Search" [(ngModel)]="searchQuery" (input)="submitSearch()">
        <button *ngIf="searchQuery" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="row row-cols-auto">
      <ng-container *ngFor="let car of cars">
        <div class="col mb-4">
          <app-car-card [car]=car>
          </app-car-card>
        </div>
      </ng-container>
    </div>
  </div>
</div>
