@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "bootstrap-custom";

/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Custom styles
.spacer {
  flex: 1 1 auto;
}

.mat-elevation-z8 {
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: white;
  background-color: #556d7c;
}

.success-snackbar {
  background-color: #377542;
  color: white;
}

.warning-snackbar {
  background-color: #b75e3f;
  color: white;
}

.error-snackbar {
  background-color: #c53c3c;
  color: white;
}

.success-snackbar.mat-mdc-snack-bar-container {
  .mdc-snackbar__surface {
    background: #377542;

    .mat-mdc-button {
      color: white !important;
    }
  }

  .mat-mdc-snack-bar-label.mdc-snackbar__label {
    color: white;
    font-weight: 500;
    white-space: pre-wrap
  }
}

.warning-snackbar.mat-mdc-snack-bar-container {
  .mdc-snackbar__surface {
    background: #b75e3f;

    .mat-mdc-button {
      color: white !important;
    }
  }

  .mat-mdc-snack-bar-label.mdc-snackbar__label {
    color: white;
    font-weight: 500;
    white-space: pre-wrap
  }
}

.error-snackbar.mat-mdc-snack-bar-container {
  .mdc-snackbar__surface {
    background: #c53c3c;

    .mat-mdc-button {
      color: white !important;
    }
  }

  .mat-mdc-snack-bar-label.mdc-snackbar__label {
    color: white;
    font-weight: 500;
    white-space: pre-wrap
  }
}

.screen-header {
  text-shadow: 2px 2px 2px #0e1a2a;
}

.form-container-start {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.full-width {
  width: 100%;
}

mat-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

mat-form-field {
  width: 100%;
}

